---
layout: default
title: resume
---
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav"><a class="navbar-brand js-scroll-trigger" href="#page-top"><span class="d-block d-lg-none">Clarence Taylor</span><span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/deepakraj.png" alt=""></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#articles">Articles</a></li>
        </ul>
      </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
        <div class="resume-section-content">
          <h1 class="mb-0">{{site.fname}} <span class="text-primary">{{site.lname}}</span></h1>
          <div class="subheading mb-5">{{site.address}} · {{site.mobile}} · <a href="mailto:deepak008@live.com">{{site.email}}</a></div>
          <p class="lead mb-5"> {{site.about_me}}</p>
          <div class="social-icons">
            <p>
              {% for about in site.data.about %}
              <a href="{{about.href}}"><img src="{{about.src}}" alt="{{about.alt}}"></a>
              {% endfor %}
            </p>
        </div>
      </section>
      <hr class="m-0">
      <!-- Experience-->
      <section class="resume-section" id="experience">
        <div class="resume-section-content">
          <h2 class="mb-5">Experience</h2>
          {% for exp in site.data.experience %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
              <h3 class="mb-0">{{exp.job_title}}</h3>
              <div class="subheading mb-3">{{exp.company}}</div>
              <p>{{exp.description}}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{exp.time_period}}</span></div>
          </div>
          {% endfor %}
          </div>
        </div>
      </section>
      <hr class="m-0">
      <!-- Education-->
      <section class="resume-section" id="education">
        <div class="resume-section-content">
          <h2 class="mb-5">Education</h2>
          {% for edu in site.data.education %}
          <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
              <h3 class="mb-0">{{edu.institute}}</h3>
              <div class="subheading mb-3">{{edu.course}}</div>
              <div>{{edu.description}}</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{edu.time_period}}</span></div>
          </div>
          {% endfor %}
        </div>
      </section>
      <hr class="m-0">
      <!-- Skills-->
      <section class="resume-section" id="skills">
        <div class="resume-section-content">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading mb-3">Programming Languages & Tools</div>
            <p><img src="https://img.shields.io/badge/python%20-%2314354C.svg?&amp;style=for-the-badge&amp;logo=python&amp;logoColor=white" alt="Python">
                <img src="https://img.shields.io/badge/c++%20-%2300599C.svg?&amp;style=for-the-badge&amp;logo=c%2B%2B&amp;ogoColor=white" alt="C++">
                <img src="https://img.shields.io/badge/javascript%20-%23323330.svg?&amp;style=for-the-badge&amp;logo=javascript&amp;logoColor=%23F7DF1E" alt="Javascript"></p>
                <p><img src="https://img.shields.io/badge/postgres-%23316192.svg?&amp;style=for-the-badge&amp;logo=postgresql&amp;logoColor=white" alt="Postgres">
                <img src="https://img.shields.io/badge/sqlite-%2307405e.svg?&amp;style=for-the-badge&amp;logo=sqlite&amp;logoColor=white" alt="Sqlite"></p>
                <p><img src="https://img.shields.io/badge/numpy%20-%23013243.svg?&amp;style=for-the-badge&amp;logo=numpy&amp;logoColor=white" alt="Numpy">
                <img src="https://img.shields.io/badge/pandas%20-%23150458.svg?&amp;style=for-the-badge&amp;logo=pandas&amp;logoColor=white" alt="Pandas">
                <img src="https://img.shields.io/badge/Keras%20-%23D00000.svg?&amp;style=for-the-badge&amp;logo=Keras&amp;logoColor=white" alt="Keras">
                <img src="https://img.shields.io/badge/TensorFlow%20-%23430098.svg?&amp;style=for-the-badge&amp;logo=TensorFlow&amp;logoColor=white" alt="Tensorflow">
                <img src="https://img.shields.io/badge/SkLearn%20-%23E34F26.svg?&amp;style=for-the-badge&amp;logo=scikit%20learn&amp;logoColor=white" alt="SkLearn"></p>
                <p><img src="https://img.shields.io/badge/heroku%20-%23430098.svg?&amp;style=for-the-badge&amp;logo=heroku&amp;logoColor=white" alt="Heorku">
                <img src="https://img.shields.io/badge/Jupyter%20-%23F37626.svg?&amp;style=for-the-badge&amp;logo=Jupyter&amp;logoColor=white" alt="Jupyter">
                <img src="https://img.shields.io/badge/Colab%20-%2320232a.svg?&amp;style=for-the-badge&amp;logo=google&amp;logoColor=white" alt="Colab"></p>
                <p><img src="https://img.shields.io/badge/html%20-%23E34F26.svg?&amp;style=for-the-badge&amp;logo=html5&amp;logoColor=white" alt="HTML">
                <img src="https://img.shields.io/badge/css%20-%231572B6.svg?&amp;style=for-the-badge&amp;logo=css3&amp;logoColor=white" alt="CSS">
                <img src="https://img.shields.io/badge/bootstrap%20-%23563D7C.svg?&amp;style=for-the-badge&amp;logo=bootstrap&amp;logoColor=white" alt="BootStrap">
                <img src="https://img.shields.io/badge/django%20-%23092E20.svg?&amp;style=for-the-badge&amp;logo=django&amp;logoColor=white" alt="Django">
                <img src="https://img.shields.io/badge/FastAPI%20-%2307405e.svg?&amp;style=for-the-badge&amp;logo=fastapi&amp;logoColor=white" alt="FastAPI">                
                <p><img src="https://img.shields.io/badge/-vscode-00a8e8?style=for-the-badge&amp;logo=visual-studio-code" alt="VSCode">
                <img src="https://img.shields.io/badge/git%20-%23F05033.svg?&amp;style=for-the-badge&amp;logo=git&amp;logoColor=white" alt="Git">
                <img src="https://img.shields.io/badge/github%20-%23121011.svg?&amp;style=for-the-badge&amp;logo=github&amp;logoColor=white" alt="Github">
                <img src="https://img.shields.io/badge/docker%20-%230db7ed.svg?&amp;style=for-the-badge&amp;logo=docker&amp;logoColor=white" alt="Docker"></p>
                <p><img src="https://img.shields.io/badge/-linux-772953?style=for-the-badge&amp;logo=linux" alt="Linux">
                <img src="https://img.shields.io/badge/windows-0078D6?logo=windows&amp;logoColor=white&amp;style=for-the-badge" alt="windows"></p>
                <!--  
        <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>Mobile-First, Responsive Design</li>
          </ul>
        </div>
        -->
      </section>
      <hr class="m-0">
      <!-- Interests-->
      <section class="resume-section" id="interests">
        <div class="resume-section-content">
          <h2 class="mb-5">Interests</h2>
          {% for int in site.data.interest %}
          <p>{{int.interest}}</p>
          {% endfor %}
        </div>
      </section>
      <hr class="m-0">
      <!-- Awards-->
      <section class="resume-section" id="projects">
        <div class="resume-section-content">
          <h2 class="mb-5">Projects</h2>
          <ul class="fa-ul mb-0">
            {% for project in site.data.projects %}
            <li>
              <a href="{{project.url}}"><span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>{{project.project_name}}</a>
            </li>            
            {% endfor %}
          </ul>
        </div>
      </section>
      <hr class="m-0">
      <section class="resume-section" id="articles">
        <div class="container mt-2 p-2">
          {% for article in site.data.myDevArticles %}
          <a href="{{article.url}}">{{article.title}}</a>
          <p>{{article.description}}</p>
          <p>Article View {{article.page_views_count}}, Total Reaction : {{article.positive_reactions_count}}</p>
          <hr>
          {% endfor %}
      </div>
      
        </section>
    </div>
